.user__data__container{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.user__data__container h2{
  font-size: 150%;
  font-weight: 800;
  margin: 10px;
}

.user__data__container h3{
  font-size: 100%;
  font-weight: 600;
  margin: 5px;
}

.user__data__container h4{
  font-size: 80%;
  font-weight: 400;
  margin: 3px;
}

.user__data__container a{
  color: #68A2A4;
  display: block;
  font-size: 80%;
  margin: 5px;
  text-decoration: none;
}

.user__data__container a:hover{
  transition: 0.2s ease-in-out;
  font-size: 100%;
}

@media screen and (max-width: 320px){
  .user__data__container h2{
    font-size: 150%;
    font-weight: 600;
    margin: 5px;
  }

  .user__data__container h3{
    font-size: 100%;
    font-weight: 400;
    margin: 5px;
  }

  .user__data__container h4{
    font-size: 80%;
    font-weight: 400;
    margin: 3px;
  }
}
