.user__card__container{
  border: 2px solid rgb(223, 226, 229);
  margin: 0 auto 20px auto;
  position: relative;
  width: 20%;
}

.user__card__avatar{
  background: url(../../../assets/avatar.jpg) no-repeat center #c9c9c9;
  background-size: contain;
  height: 250px;
  position: relative;
  width: 100%;
}

.user__card__avatar::after{
  content: 'Your avatar might be here';
  color: #68A2A4;
  position: absolute;
  top:50%;
  text-align: center;
  width: 100%;
}

.user__card__row{
  display: flex;
  flex-direction: row;
}

app-userdata{
  text-align: center;
}

app-functional-panel{
  background-color: #fff;
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
}


@media screen and (max-width: 768px) {
  .user__card__row{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .user__card__container{
    width: 95%;
  }
}
